body {
  font-family: "Roboto Mono", monospace;
}
.game-main {
  background: url("../images/gameBackground.jpg") center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display:flex;
  align-content: center;
  position: absolute;
  bottom:0%;
}
.cursor-pointer{
    cursor: pointer;
}

