.display-none{
    display:none;
}
.recipe_body{
background:url("../image/home_background_landscape.jpg") center;
height:100vh;
background-size: cover;
width:100%;
position:fixed;
display:flex;
justify-content:center;
 align-items:center;


}
.wrap-recipe-content{
    display:flex;
     width:80%;
    height:80%;
    flex-direction:row;
    background-color:rgba(0, 0, 0, 0.671);
}

.recipe-image{
  width:50%;
  height:80%;
}
.recipe-image img{
    width:100%;
    height:95%;

}
.recipe-image figcaption{
    margin-top:5%;
    font-size:0.6em;
    color:white;

}

.recipe-instructions{
 color:white;
    overflow-y: auto;
font-size:0.5em;
max-height:95%;
width:50%;}
.recipe-instructions h3{
    font-size:2em;
}


@media screen and ( min-width:800px){
    .wrap-recipe-content{
     width:90%;
    }
    .recipe-image figcaption{
        font-size:1.2em;
    }
    .recipe-instructions{
        font-size:1.5em;
    }   
}

